:root {
  --base-color: #880acc;
  --hero-gradient: #e9a0ff;
  --bg-color: #b3b2b3;
  --animal-card-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
}

.hero {
  background-color: var(--base-color);
  color: #fff;
  padding: 50px 30px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  & h1 {
    font-weight: normal;
    font-size: 7rem;
    margin: 0;
  }
  & h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(
      to left,
      var(--base-color),
      var(--hero-gradient)
    );
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(
      to right,
      var(--base-color),
      var(--hero-gradient)
    );
  }
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  & a {
    margin: 10px;
    padding: 10px;
    border: 1px solid #c64dff;
    border-radius: 4px;
    text-decoration: none;
    color: var(--base-color);
  }
}

.animals {
  max-width: 700px;
  margin: 0 auto;
}

.animal-card {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: var(--animal-card-color);
  border-radius: 16px;
  overflow: hidden;
  &:hover img {
    transform: rotate(20deg) scale(1.4);
  }
}

.animal-card-photo {
  order: 1;
  grid-row: 1;
  overflow: hidden;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
}

.animal-card-text {
  padding: 20px 25px;
  & h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.5rem;
  }
  & small {
    color: rgb(133, 133, 133);
  }
  & p {
    margin: 0.8rem 0;
    padding: 0;
    line-height: 1.5;
  }
}

.primary-btn {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#d147d1, #702acb);
  &:hover {
    background: linear-gradient(#e353a7, #d82eb9);
  }
}
